@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
    /*box-sizing: border-box;*/
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;*/
}

body {
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    display: flex;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;

}

h2 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    text-transform: uppercase;
}

h2 span {
    display: inline-flex;
    color: #a1ff34;
}

h2 span:nth-child(even) {
    letter-spacing: 0;
    color: #fff;
    border-bottom: 8px solid #a1ff34;
}

h2:hover span:nth-child(even) {
    overflow: hidden;
    transition: ease-in-out 0.5s;
    letter-spacing: -1em;
}

h2:hover span:nth-child(2) {
    transition-delay: 0s;
}

h2:hover span:nth-child(4) {
    transition-delay: 0.5s;
}

h2:hover span:nth-child(6) {
    transition-delay: 1s;
}

h2:hover span:nth-child(8) {
    transition-delay: 1.5s;
}

.mark {
    width: 500px;
    padding: 3% 0 0;
    margin: auto;
}

label{
    font-size: 19.3px;
}

.label1 {
    display: inline-block;
    width: 100px;
    text-align: right;
    transform: translate(75%,-136.8%);
    font-family: sans-serif;
    font-weight: normal;
}
.label2{
    display: inline-block;
    width: 100px;
    text-align: right;
    transform: translate(90%,86%);
    /*font-family: sans-serif;
    font-weight: normal;*/
}

.box {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 660px;
    margin: 1 auto 100px;
    padding: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.box input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    /*box-sizing: border-box;*/
    font-size: 25px;
    letter-spacing: 1.5px;
}

.box button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    margin: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
